@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white font-light;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer utilities {
  .font-heading {
    font-family: 'Spline Sans', sans-serif;
  }

  /* Glow utilities */
  .glow-text {
    text-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  }
}
